*{margin: 0;padding: 0;}
.pictureBox{
    width: 960px;
    height: 500px;
    margin: auto;
    display: flex;
    overflow: hidden;
    justify-content: center;
    .content{
        height: 480px;
        width: 70px;
        background:yellowgreen;
        margin: 10px;
        border-radius: 50px;
        position: relative;
        overflow: hidden;
        cursor: pointer;
        background-position: center;
        transform: 0.5  s;
        .circle{
            position: absolute;
            left: 10px;
            bottom: 10px;
            width: 50px;
            height: 50px;
            background:#fff;
            border-radius: 50%; 
        }
        .txt{
            position: absolute;
            width: 100px;
            height: 50px;
            left: 70px;
            bottom: 8px;
            color: #fff;
        }
    }
    .contentShow-1{
        background-image: url('img/1.jpg');
    }
    .contentShow-2{
        background-image: url('img/2.jpg');
    }
    .contentShow-3{
        background-image: url('img/3.jpg'); 
    }
    .contentShow-4{
        background-image: url('img/4.jpg');
    }
    .contentShow-5{
        background-image: url('img/5.jpg');
    }
    .contentLessen{
        width: 70px;
        transition: 0.5s;
    }
    .contentUnfold{
        width: 600px;
        transition: 0.5s;
    }
}
